In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
df=sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [2]:
x=df.iloc[:,:-1]
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [3]:
y=df.iloc[:,-1:]
y.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
species_encoded = le.fit_transform(df['species'])

print(species_encoded)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [5]:
df["species_encoded"]=species_encoded
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species  \
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

     species_encoded
0                  0
1                  0
2                  0
3                  0
4                  0
..               ...
145                2
146                2
147                2
148                2
149                2

[150 rows x 6 columns]

In [6]:
df1=df.drop(['species'], axis = 1)
df1.head()

   sepal_length  sepal_width  petal_length  petal_width  species_encoded
0           5.1          3.5           1.4          0.2                0
1           4.9          3.0           1.4          0.2                0
2           4.7          3.2           1.3          0.2                0
3           4.6          3.1           1.5          0.2                0
4           5.0          3.6           1.4          0.2                0

In [7]:
x1=df1.iloc[:,:-1]
x1.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [8]:
y1=df1.iloc[:,-1:]
y1.head()

   species_encoded
0                0
1                0
2                0
3                0
4                0

In [9]:
# applying Random forest regression 
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=100)    #assignment 
model.fit(x1,y1)
model.predict([[10,4,2,6]])

C:\TEMP\ipykernel_8064\2430804113.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x1,y1)
C:\Users\issa\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([0.48])

In [10]:
from sklearn.model_selection import  train_test_split
x1_test,x1_train,y1_test,y1_train= train_test_split(x1,y1,test_size=0.2)
predictions=model.predict(x1_test)
predictions

array([2.  , 0.  , 0.  , 1.  , 1.  , 0.  , 0.  , 1.  , 0.  , 0.  , 1.  ,
       2.  , 1.97, 2.  , 2.  , 2.  , 0.  , 1.  , 0.  , 2.  , 0.  , 2.  ,
       1.06, 1.97, 0.  , 1.84, 2.  , 1.02, 1.91, 1.75, 1.  , 2.  , 2.  ,
       2.  , 1.  , 2.  , 0.  , 1.  , 2.  , 0.  , 2.  , 0.  , 0.  , 1.  ,
       2.  , 1.01, 0.  , 0.  , 1.  , 1.  , 0.  , 1.  , 1.73, 1.  , 1.  ,
       1.  , 0.  , 0.  , 2.  , 2.  , 2.  , 0.  , 1.94, 2.  , 1.12, 1.96,
       2.  , 0.  , 1.  , 0.  , 0.  , 0.  , 2.  , 1.  , 0.  , 1.16, 1.  ,
       1.  , 2.  , 1.  , 0.  , 0.  , 1.99, 1.  , 1.05, 0.  , 0.  , 0.  ,
       1.  , 1.31, 1.  , 2.  , 1.  , 1.04, 0.  , 2.  , 2.  , 0.  , 0.  ,
       2.  , 0.  , 0.  , 2.  , 1.05, 0.  , 0.  , 1.  , 0.  , 1.  , 1.36,
       2.  , 2.  , 1.  , 0.  , 2.  , 0.  , 1.69, 0.  , 1.  , 2.  ])

In [21]:
# Accurecy Test 
score = model.score(x1_test,y1_test)
print("The accurecy is :",score)

The accurecy is : 0.9925724222585924

In [11]:
# Confustion matrics
from sklearn import metrics 
cm= metrics.confusion_matrix(y1_test,predictions)
cm

ValueError: Classification metrics can't handle a mix of continuous-multioutput and continuous targets

In [25]:
import seaborn as sns 
plt.figure(figsize=(5,5))
sns.heatmap (cm,annot=True,fmt=".3f",linewidths=.5, square=True,cmap="Spectral")
plt.ylabel("Actual Output")
plt.xlabel("Predicted OUtput")
all_sample_title="Acuraccy Score:{0}".format(score)
plt.title(all_sample_title,size=15)

NameError: ignored